canvas {
  margin: 0 auto;
  border: 1px solid;
  background: #000000;
}

body {
  text-align: center;
  background: #303030;
}

#canvas-container {
  max-width: fit-content;
  max-width: -moz-fit-content;
}

#context-menu {
  background: #ff9a00;
  position: absolute;
  display: none;
}

.submenu > div {
  display: none;
}

.submenu:hover > div {
  display: block;
}
